@keyframes kangaroo-loading-animation {

  0% {
    transform: translateY(0) rotate(0);
  }

  50% {
    transform: translateY(-50px) rotate(5deg);
  }

  100% {
    transform: translateY(0) rotate(0);
  }
  
}

@keyframes navigation-outline-fade-previous {
  0% {
    outline-offset: 0;
    outline-color: $theme-gold;
  }

  100% {
    outline-offset: 2rem;
    outline-color: transparent;
  }
}

@keyframes navigation-outline-fade-next {
  0% {
    outline-offset: 0;
    outline-color: $theme-green;
  }

  100% {
    outline-offset: 2rem;
    outline-color: transparent;
  }
}

