$panel-height: 900px;

.content {
    &::after {
        display: table;
        content: "";
        clear: both;
    }

    &__info-panel {
        padding-top: 25rem;
        // background-color: aquamarine;
        width: 20%;
        height: $panel-height;
        float: left;
        position: relative;
    }
    
    &__cityheading-container {
        z-index: 1;
        position: relative;
        transform: translateY(0);
    }

    &__cityheading-wrapper {
        overflow: hidden;
        //duno about hard coded here. Wont matter cos scrolling disabled essentially??
        width: 1000px;
    }

    &__cityheading {
        font-size: 8rem;
        font-family: "JosefinBold";
        text-transform: uppercase;
        color: $theme-green;
        letter-spacing: 1.2rem;
        animation-fill-mode: forwards;
    }

    &__state-container {
        display: flex;
    }

    &__stateheading {
        font-family: "JosefinSemi";
        font-size: 4rem;
        animation-fill-mode: forwards;
        text-transform: lowercase;
    }

    &__stateheading-decoration {
        width: 80%;
        height: 3px;
        background-color: black;
        align-self: center;
        margin-right: 15rem;
        margin-left: 1rem;
        letter-spacing: $letter-spacing;
        animation-fill-mode: forwards;
    }

    &__main-heading {

    }

    &__info-container {
        position: relative; 
        margin-top: 2rem;
    }

    &__australia-image {

    }


    &__info-details-container {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        animation-fill-mode: forwards;
    }

    &__info-paragraph {
        margin-bottom: 1rem;

    }

    &__info-header {
        font-size: 2rem;
        font-family: "JosefinSemi";
    }

    &__info-value {
        font-size: 1.5rem;
        font-family: "JosefinLight";
    }

    &__navigate-container {
        display: flex;
        position: absolute;
        bottom: 0%;
        left: 0%;
    }

    &__navigation-button {
        width: 2.5rem;
        height: 2.5rem;
        display: flex;
        justify-content: center;
        outline-width: 2px;
        outline-color: transparent;
        outline-style: solid;
        transition: 0.2s all ease;
    }

    &__previous-button {
        background-color: $theme-gold;
        margin-right: $small-gutter;
        &:hover {
            animation: navigationOutlineFade-previous .5s ease 0s;
        }
    }

    &__next-button {
        background-color: $theme-green;
        &:hover {
            animation: navigationOutlineFade-next .5s ease 0s;
        }
    }

    &__navigation-image {
        width: .7rem;
        height: auto;
        align-self: center;
    }

    &__image-container {
        width: 80%;
        height: $panel-height;
        float: left;
        position: relative;
        animation-fill-mode: forwards;
    }

    &__landmark-image {
        height: 100%;
        width: 100%;
        position: absolute;
        background-image: url("../img/flinders.jpg");
    }

    &__landmark-image--new {
        transform: translateX(-100%);
    }

    &__overflow-hidden-fix{
        position: absolute;
        overflow: hidden;
        height: 100%;
        width: 100%;
    }

    &__image-title {
        position: absolute;
        bottom: 0;
        right: 10%;
        background-color: $theme-gold;
        padding: 2rem 8rem 2rem 2rem;
        transform: translateY(50%);
        transition: width .4s;
    }

    &__image-title-span {
        font-family: "JosefinSemi";
        text-transform: uppercase;
        font-size: $menu-item-fontsize;
        letter-spacing: $letter-spacing;
        animation-fill-mode: forwards;
        opacity: 1;
        white-space: nowrap;
    }

}



