
@font-face {
    src:
        url("../fonts/JosefinSans-Bold.ttf");
    font-family: "Josefin";
    font-weight: bold;
}

@font-face {
    src:
        url("../fonts/JosefinSans-SemiBold.ttf");
    font-family: "Josefin";
    font-weight: normal;
}


@font-face {
    src:local("Josefin Sans Regular"),
        local("JosefinSans-Regular"),
        url("../fonts/JosefinSans-Regular.ttf");
    font-family: "JosefinLight";
    font-weight: 400;
}




