.header {
    display: flex;
    flex-direction: row;
    // background-color:red;
    height: 15vh;

    &__logo-container {
        color: $theme-gray;
        margin-right: $big-gutter;
        display: flex;
        align-self: center;
    }

    &__logotext {
        font-family: "JosefinLight";
        font-weight: 100;
        font-size: $logo-text-size;
        letter-spacing: $letter-spacing;
        &--bold {
            font-family: "JosefinBold";
            font-weight: 900;
            color: black;
        }
    }

    &__menu {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        align-self: center;
        
    }
    &__menu-item {
        color: black;
        font-size: $menu-item-fontsize;
        font-family: "JosefinLight";
        margin-right: $small-gutter;
        text-transform: uppercase;
        letter-spacing: $letter-spacing;
    }

    &__menu-item-hyperlink {
        cursor: pointer;
    }

    &__social {
        display: flex;  
        align-self: center;
    }

    &__social-item {
        font-size: 2.3rem;
        margin-right: $small-gutter;
        display: inline-block;
    }

    &__social-item:last-of-type {
        margin-right: 0;
    }

    &__hamburger-container{
        display: none;
        width: 2rem;
        height: 15px;
        cursor: pointer;

        &:hover .header__hamburger-line--top {
            transform: rotate(45deg);
            top: 50%;
            position: absolute;
        }

        &:hover .header__hamburger-line--middle {
            opacity: 0;
        }

        &:hover .header__hamburger-line--bottom {
            transform: rotate(-45deg);
            bottom: 50%;
            position: absolute;
        }

    }

    &__hamburger-line {
        width: 100%;
        height: 1px;
        background-color: #000;
        transition: .3s;
    }





    
}