.melbourne-1 {
    background-image: url('../img/flinders.jpg');
}

.melbourne-2 {
    background-image: url('../img/fedsquare.jpg');
}

.melbourne-3 {
    background-image: url('../img/yarra.jpg');
}

.sydney-1 {
    background-image: url('../img/harbourbridge.jpg');
}

.sydney-2 {
    background-image: url('../img/bondi.jpg');
}

.sydney-3 {
    background-image: url('../img/operahouse.jpg');
}