$small-gutter: 1.6rem;
$big-gutter: 6rem;

$container-side-gutters: 12rem;
$container-top-gutters: 6rem;

$letter-spacing: .6rem;

$logo-text-size: 2.8rem;


$theme-gray: #999999;
$theme-green: #339900;
$theme-gold: #FFCD00;

$menu-item-fontsize: 1.7rem;