/////////////////////////////////
//***city heading animations***//
/////////////////////////////////

@keyframes scroll-up-cityheading {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-110%);
    }
}

@keyframes scroll-down-cityheading {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(110%);
    }
}

@keyframes reposition-cityheading-bottom {
    0% {
        transform: translateY(110%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes reposition-cityheading-top {
    0% {
        transform: translateY(-110%);
    }

    100% {
        transform: translateY(0);
    }
}


@keyframes move-in-cityheading-top {

    0% {
        transform: translateY(-110%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes move-in-cityheading-bottom {

    0% {
        transform: translateY(110%);
    }

    100% {
        transform: translateY(0%);
    }
}

.scroll-down-cityheading {
    animation: scroll-down-cityheading 1s;
}

.scroll-up-cityheading {
    animation: scroll-up-cityheading 1s;
}

.reposition-cityheading-top {
    animation: reposition-cityheading-top 0s;
}

.reposition-cityheading-bottom {
    animation: reposition-cityheading-bottom 0s;
}

.move-in-cityheading-bottom {
    animation: move-in-cityheading-bottom 1s;
}

.move-in-cityheading-top {
    animation: move-in-cityheading-top 1s;
}

