//***navigation button animations***//
@keyframes navigation-outline-fade-previous {
    0% {
      outline-offset: 0px;
    }
  
    100% {
      outline-offset: 30px;
    }
  }
  @keyframes navigation-outline-fade-next {
  
    0% {
      outline-offset: 0px;
    }
  
    100% {
      outline-offset: 30px;
    }
  }