@keyframes new-current-state {
    0% {
      fill: #999;
    }
    100% {
      fill: $theme-green;
    }
}
  
@keyframes remove-current-state {
    0% {
        fill: $theme-green;
    }

    100% {
        fill: #999;
    }
}

.new-current-state {
    animation: new-current-state 2s;
}

.remove-current-state {
    animation: remove-current-state 2s;
}