@keyframes scroll-up-state {
    
    0% {
        transform: translateX(0) translateY(0);
    }

    100% {
        transform: translateX(0) translateY(-1500px);
    }
}

@keyframes scroll-right-state {
    
    0% {
        transform: translateX(0) translateY(0);
    }

    100% {
        transform: translateX(2000px) translateY(0);
    }
}

@keyframes scroll-left-state {
    0% {
        transform: translateX(0) translateY(0);
    }

    100% {
        transform: translateX(-2000px) translateY(0);
    }
}

@keyframes scroll-down-state {
    
    0% {
        transform: translateX(0) translateY(0);
    }

    100% {
        transform: translateX(0) translateY(1500px);
    }
}

@keyframes reposition-state-top {
    0% {
        transform: translateX(0) translateY(-1500px);
    }

    100% {
        transform: translateX(0) translateY(-1500px);
    }
}
@keyframes move-in-state-top {
    0% {
        transform: translateX(0) translateY(-1500px);
    }

    100% {
        transform: translateX(0) translateY(0);
    }
}

@keyframes reposition-state-right {
    0% {
        transform: translateX(2000px) translateY(0);
    }

    100% {
        transform: translateX(2000px) translateY(0);
    }
}

@keyframes move-in-state-right {

    0% {
        transform: translateX(2000px) translateY(0);
    }
    100% {
        transform: translateX(0) translateY(0);
    }

}

@keyframes reposition-state-bottom {
    0% {
        transform: translateX(0) translateY(1500px);
    }

    100% {
        transform: translateX(0) translateY(1500px);
    }
    
}
@keyframes move-in-state-bottom {
    0% {
        transform: translateX(0) translateY(1500px);
    }

    100% {
        transform: translateX(0) translateY(0);
    }
}

@keyframes reposition-state-left {
    
    0% {
        transform: translateX(-2000px) translateY(0);
    }

    100% {
        transform: translateX(-2000px) translateY(0);
    }
}
@keyframes move-in-state-left {
    0% {
        transform: translateX(-2000px) translateY(0);
    }

    100% {
        transform: translateX(0) translateY(0);
    }
}

.scroll-up-state {
    animation: scroll-up-state 1s;
}

.scroll-right-state {
    animation: scroll-right-state 1s;
}

.scroll-down-state {
    animation: scroll-down-state 1s;
}

.scroll-left-state {
    animation: scroll-left-state 1s;
}

.reposition-state-top {
    animation: reposition-state-top 0s;
}

.reposition-state-right {
    animation: reposition-state-right 0s;
}

.reposition-state-bottom {
    animation: reposition-state-bottom 0s;
}

.reposition-state-left {
    animation: reposition-state-left 0s;
}

.move-in-state-top {
    animation: move-in-state-top 1s;
}

.move-in-state-right {
    animation: move-in-state-right 1s;
}

.move-in-state-bottom {
    animation: move-in-state-bottom 1s;
}

.move-in-state-left {
    animation: move-in-state-left 1s;
}




