@keyframes shrink-state-decoration {
  0% {
    width: 80%;
  }

  100% {
    width: 0%;
  }
}
  
@keyframes grow-state-decoration {
  0% {
    width: 0%;
  }

  100% {
    width: 80%;
  }
}

.shrink-state-decoration {
    animation-name: shrink-state-decoration;
    animation-duration: 1s;
}

.grow-state-decoration {
    animation-name: grow-state-decoration;
    animation-duration: 5s;
}

